.container {
  height: 100%;
  position: relative;
  left: 2vw;
  width: 84vw;

  &__datepicker {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 20px;
    margin-left: -10px;
  }

  &__circle-container {
    display: flex;
    padding-top: 40px;

    &:first-child {
      padding-top: 80px;
    }

    &__circle {
      width: 75px;
      height: 75px;
      border-radius: 50%;
      background:lightblue;
      display:flex;
      margin-left: 25px;
      justify-content: center;

      &__icon {
        color: black;
        transform: scale(2);
        margin-top: calc(50% - 15px);
      }
    }

    &__label {
      margin-left: 20px;
      margin-top: 26px;
    }
  }
  .button-alarm {
    text-align: center;
    background: white;
    color: #099CE1;
    font-size: 16px;
    font-weight: 500;
  }
  &__button {
    display: flex;
    justify-content: center;
    margin-left: 12vw;
  }
  .alarms{

    &__label {
      font-size: 14px;
      margin-top: 40px;
      font-weight: bold;
    }

    &__alarm {
      display: flex;

      &__toggle {
        position: absolute;
        right: 0;
        transform: translateY(10px);
      }

      &__time {
        margin-left: 40px;
      }
    }
  }
}



