.content {
  position: relative;
  top: 30px;
  left: 8vw;
  width: 84vw;
  height: 100%;
  overflow: auto;

  &__item {
    border-bottom: 1px solid dimgray;
    border-collapse: collapse;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    :nth-child(3) {
      flex-basis: 100%;
    }

    &:first-child {
      border-top: 1px solid dimgray;
    }

    &__label {
      color: dodgerblue;
      padding-left: 10px;
    }

    &__icon {
      color: rgba(0,0,0,0.2);
      margin-top: 12px;
      padding-right: 10px;
    }

  }
}
